footer {
	height: 50px;
  background: #f8f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 30px;
  border-top: 1px solid #e8e9eb;
}

nav {
	-webkit-box-shadow: 0 1px 2px #dedfe0;
  box-shadow: 0 1px 2px #dedfe0;
  -moz-box-shadow: 0 1px 2px #dedfe0;
}

content {
	padding-top: 90px;
}

.question-text img {
    max-height: 400px;
    margin-top: 15px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 82px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

main {
	padding-top: 90px;
}

[role=entry] h1, 
[role=entry] h2, 
[role=entry] p {
	width: 100%;
}

[role=entry] button {
	width: 200px;
}

[role=main] {
  margin-bottom: 160px;
}
ul {
  list-style: none;
  padding-left: 0;
}

.question-options label {
  border: 1px solid #cacbcc;
  border-radius: 5px;
  width: 100%;
  padding: 7px 15px;
  transition: background 0.6s;
  cursor: pointer;
}


.question-options label:hover {
  background: #f5f5f5;
}

.question-options input {
  margin-right: 7px;
}

.question-number {
  margin-bottom: 60px;
}

.question-text {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
}

.skip-button {
  margin-right: 15px;
  
  cursor: pointer;
}

a.skip-button {
  color: #007bff !important;
}

a.skip-button:hover {
  color: #004aff !important;
}

.result-correct h2 {
    color: var(--success);
}

.result-incorrect h2 {
  color: var(--danger);
}

.result-skipped h2 {
  color: var(--gray);
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
 40% {transform: translateY(-30px);} 
 60% {transform: translateY(-15px);} 
} 

@-webkit-keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
  40% {-webkit-transform: translateY(-30px);} 
  60% {-webkit-transform: translateY(-15px);} 
} 

.bounce { 
  -webkit-animation-name: bounce; 
  animation-name: bounce; 
}

.next-question {
  -webkit-animation-duration: 1s;
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  animation-iteration-count: 3;
}

.timer {
  margin-left: auto;
}

.resume-button {
  margin-left: 15px;
}

.result-time-taken h2 {
  color: var(--info);
}
